# Kafka broker address (mapped to host via docker-compose)
KAFKA_BROKER=localhost:29092
DB_FILE_PATH=../../data/food-court-db.json
SESSION_COOKIE_SECURE=false

# UI configuration
NEXT_PUBLIC_APP_NAME=Food Court
